@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

.page-header {

}

.page-body {
    height: 100vh;
    overflow-y: auto;
}